.detail {
  padding: 2rem;
  position: relative;
}

/* ------------ BUTTONS ---------- */
.button-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}
.button-wrapper div {
  display: flex;
}
button.button-detail {
  padding: 0 0.6rem;
  margin: 1.5rem 0;
}
.button-detail:not(.button-detail:first-of-type) {
  margin-left: 0.5rem !important;
}
.button-tag {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: default;
  border-color: white;
  padding: 0 1rem;
}
.button-tag:hover {
  background-color: inherit;
  border-color: var(--green);
}

@media (max-width: 40rem) {
  .button-tag {
    visibility: hidden;
  }
  .button-detail {
    margin: 1rem 0 !important;
    padding: 0 !important;
  }
}

/* ------------ ARTICLE ---------- */
.detail h1 {
  margin-bottom: 0.3rem;
}
h1::first-letter,
h5::first-letter,
p:not(.comments)::first-letter {
  text-transform: uppercase;
}
.detail h3 span {
  font-weight: 500;
  text-decoration: underline;
  font-style: italic;
}

/* ------------ COMMENTS ---------- */

#comments {
  position: relative;
  display: grid;
  padding-top: 1.8rem;
}

#comments .comments-bg {
  background-color: var(--gray);
  height: 3.4rem;
  border-radius: 20px;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 0;
}
#comments .comments-bg > h3 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  z-index: 5;
  margin: 0.4rem 1.7rem;
}

#comments .comment {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 1rem;
  padding: 1rem;
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 0.8rem;
}
@media (max-width: 40rem) {
  #comments .comment {
    grid-template-columns: 1fr;
  }
}

#comments .comment-icon {
  margin-top: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: var(--green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media (max-width: 40rem) {
  #comments .comment-icon {
    margin-top: 0;
  }
}

#comments .comment-body {
  margin-top: 1rem;
}
#comments .comment-body > h5 {
  padding: 0;
  margin: 0;
}
#comments .comment-body > h6 {
  margin: 0;
}

/* ------------ GFX ELEMS ---------- */

.heart {
  position: absolute;
  font-size: 10rem;
  color: var(--green);
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 0;
}

.up-arrow {
  display: flex;
  justify-content: center;
  margin-top: var(--container-inner);
}
.up-arrow button {
  padding: 0;
  background-color: transparent;
  border: none;
}
.up-arrow button:hover {
  background-color: transparent;
}
.up-arrow svg {
  color: var(--gray);
  transition: all 0.15s;
}
.up-arrow svg:hover {
  color: var(--green);
  cursor: pointer;
}
