.summary h1 {
  padding-top: 0.8rem;
}

.summary .links {
  display: flex;
  justify-content: space-between;
  height: 50%;
}

.button-summary {
  display: flex;
  align-items: start;
  padding-top: 1.5rem;
}
.comments {
  font-weight: bold;
  padding-top: 0.8rem;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.clamp-1 {
  -webkit-line-clamp: 1;
}
.clamp-2 {
  -webkit-line-clamp: 2;
}
