.summary h1 {
  padding-top: 0.8rem;
}

.summary .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.clamp-1 {
  -webkit-line-clamp: 1;
}
.clamp-2 {
  -webkit-line-clamp: 2;
}
