:root {
  --green: #28a925;
  --gray: #494b49;

  background-color: var(--green) !important;
  background-repeat: repeat;
  background-image: url("./assets/pattern3.png"),
    linear-gradient(to bottom right, var(--green), var(--gray));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --container-outer: clamp(1rem, 0.5rem + 5vw, 5rem);
  --container-outer-mobile: 0;
  --container-inner: clamp(0.4rem, 0.2rem + 5vw, 2rem);
  --container-inner-mobile: 1rem 0;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* rewriting @mui container default css */
  background-color: transparent !important;
  color: var(--gray) !important;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;
  overflow-x: hidden !important;
}

#root {
  border: var(--green) solid 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  margin: var(--container-outer);
  padding: var(--container-inner);
  overflow: hidden;
}

@media (max-width: 40rem) {
  #root {
    margin: var(--container-outer-mobile);
    padding: var(--container-inner-mobile);
  }
}

h1 {
  font-size: clamp(0.7rem, 0.3rem + 5vw, 2rem);
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

h3 {
  margin: 0.5rem 0;
}

button {
  border-radius: 10px;
  border: none;
  padding: 0.2rem 1rem;
  color: white;
  background-color: var(--green);
  border: 1px solid var(--green);
  cursor: pointer;
  transition: all 0.25s;
  text-transform: uppercase;
}
button:hover {
  background-color: var(--gray);
  border-color: var(--gray);
}

a {
  font-size: large;
  font-weight: 700;
  color: var(--green);
  transition: color 0.25s;
}
a:hover {
  color: var(--gray);
}

/* ------------------------ scrollbar & selection */

::selection {
  background-color: var(--green);
  color: white;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--gray);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--gray);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 14px;
}
