:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  --green: #28a925;
  --gray: #494b49;

  color: var(--gray);
  background-color: var(--green);
  background-repeat: repeat;
  background-image: url("./assets/pattern3.png"),
    linear-gradient(to bottom right, var(--green), var(--gray));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  border: var(--green) solid 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  max-width: 1000px;
  margin: clamp(1rem, 0.5rem + 5vw, 5rem);
  padding: clamp(0.4rem, 0.2rem + 5vw, 2rem);
}

h1 {
  font-size: clamp(0.7rem, 0.3rem + 5vw, 2rem);
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

h3 {
  margin: 0.5rem 0;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.2rem 1rem;
  color: white;
  background-color: var(--green);
  cursor: pointer;
  transition: background-color 0.25s;
  text-transform: uppercase;
}
button:hover {
  background-color: var(--gray);
}
button.button-summary {
  display: flex;
  align-items: start;
  padding-top: 1.5rem;
}
button.button-detail {
  padding: 1rem;
  margin: 2rem 0;
}

a {
  font-size: large;
  font-weight: 700;
  color: var(--green);
  transition: color 0.25s;
}
a:hover {
  color: var(--gray);
}

/* ------------------------ scrollbar & selection */

::selection {
  background-color: var(--green);
  color: white;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--gray);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--gray);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 14px;
}
